<!DOCTYPE html>
<html>

<head>
    <title>MSI GI tumor diagnosis</title>
    <link href="{{ url_for('static', filename='estilo.css') }}" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/icono.png') }}">
</head>

<body>
	
    <h1><b>Diagnosis of MSI gastrointestinal tumors</b></h1>
	
	<h3>
		<p>
			<b>The purpose of this app is to help the Health System diagnose MSI gastrointestinal tumors to treat patients with immunotherapy.</b><br />
			<br><b>Please, insert a biopsy image:</b><br />
		</p>
	</h3>
    <form action="/diagnosis" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="inputfile">
              <input type="file" name="myFile" id="myFile" class="inputfile">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>
    <h4>
        <p>
            <br><b>Gastrointestinal tumors</b> can be classified into microsatellite instable <b>(MSI)</b> or microsatellite stable <b>(MSS)</b> tumors.
            Microsatellite instability is a DNA predisposition to mutation. In contrast to MSS tumors, MSI gastrointestinal tumor patients are likely to respond to <b>immunotherapy</b>.
			Using a convolutional neural network, this app classifies gastrointestinal tumors in MSI tumor or MSS tumors from the analysis of images of biopsies staining with hematoxylin and eosin.<br />
        </p>
    </h4>
    
    <address><br />Created on May 2020 by Florinda Meléndez</address>

</body>
</html>